
@{
    ViewBag.Title = "SelectServiceView";
}

@Styles.Render("~/Content/Mystyles.css")

<div class="container text-secondary">

    <h2 class="text-secondary text-center mt-5"style="margin-bottom:70px;">How can we Help?</h2>

    <div class="row text-center mb-5">
        <div class="col-md-4 content-box">
            <a href = '@Url.Action("ALSView","Service")' style="text-decoration: none; color: inherit;">
                <div class="card shadow" style="background-color:darkgray;">
                    <h4 id="Service1">ALS (Advances Life Support)</h4>
                    <p>ALS ambulance is staffed by a Paramedic and is used to transport patients who require high level of care.</p>
                </div>
            </a>

        </div>

        <div class="col-md-4 content-box">
            <a href = '@Url.Action("BLSView","Service")' style="text-decoration: none; color: inherit;">
                <div class="card shadow" style="background-color:darkgray;">
                    <h4 id="Service2">BLS(Basic Life Support)</h4>
                    <p>BLS ambulance provides transport to patients who are in non life threatening condition</p>
                </div>
            </a>
        </div>


        <div class="col-md-4 content-box">
            <a href = '@Url.Action("PatientTransportView","Service")' style="text-decoration: none; color: inherit;">
                <div class="card shadow" style="background-color:darkgray;">
                    <h4 id="Service3">Patient Transport</h4>
                    <p>The most basic type of transport for patients requiring ambulatory support to and from the hospital </p>
                </div>
            </a>
        </div>

    </div>

    <div class="row text-center">
        <div class="col-md-4 content-box">
            <a href = '@Url.Action("MUVView","Service")' style="text-decoration: none; color: inherit;">
                <div class="card shadow" style="background-color:darkgray;">
                    <h4 id="Service4">Medical Utility Vehicle</h4>
                    <p>A state-of-the-art small or large van that is designed to facilitate the movement of and transport of patients.</p>
                </div>
            </a>

        </div>

        <div class="col-md-4 content-box">
            <a href = '@Url.Action("EMAView","Service")'  style="text-decoration: none; color: inherit;">
                <div class="card shadow" style="background-color:darkgray;">
                    <h4 id="Service5">Event Medical Ambulance</h4>
                    <p>Ambulances that are stationed at events, such as concerts and sport games, to provide medical assistance</p>
                </div>
            </a>
        </div>

        <div class="col-md-4 content-box">
            <a href = '@Url.Action("AirAmbulanceView","Service")'  style="text-decoration: none; color: inherit;">
                <div class="card shadow" style="background-color:darkgray;">
                    <h4 id="Service6">Air Ambulance</h4>
                    <p>Ambulance helps in the transfer patients across long distances in both emergency and non emergency situations.</p>
                </div>
            </a>
        </div>

    </div>



</div>

<script src="~/Scripts/MyScript.js"></script>


